body {
    color: #0d335d;
    font-family: 'Noto Sans KR', sans-serif;
}

.grid-container {
    display: grid;
}

.heading {
    padding: 1px;
    width: 25%;
    position: relative;
    margin-left: 50px;
    margin-top: 70px;
    text-align: left;
}

.heading1 {
    margin: auto;
    font-size: 40px;
    line-height: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

.heading2 {
    font-size: 15px;
    font-family: sans-serif;
}

.rating {
    width: 25%;
    position: relative;
    margin-top: 35px;
    margin-left: 1000px;
}

.r1 {
    padding: 15px;
    margin-top: 35px;
    text-align: center;
    background-color: #f4f9f9;
}

.r2 {
    padding: 15px;
    text-align: center;
    margin-top: 40px;
    background-color: #f4f9f9;
}

.r3 {
    padding: 15px;
    text-align: center;
    margin-top: 45px;
    background-color: #f4f9f9;
}

.review {
    position: relative;
    height: fit-content;
    padding: 5px;
    margin-bottom: 350px;
}

.review1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 2%;
    width: 25%;
    text-align: left;
    color: aliceblue;
    background-color: #0d335d;
}

.review2 {
    position: absolute;
    margin-top: 40px;
    margin-left: 550px;
    border-radius: 2%;
    width: 25%;
    text-align: left;
    color: aliceblue;
    background-color: #0d335d;
}

.review3 {
    position: absolute;
    margin-top: 60px;
    margin-left: 1000px;
    border-radius: 2%;
    width: 25%;
    text-align: left;
    color: aliceblue;
    background-color: #0d335d;
}

.attribution {
    margin: 0 0 0 0;
    padding: 10px;
    background-color: black;
    position: relative;
    margin-top: 350px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}